<h1>Hi <%= @lunch.user.nickname%></h1>
  <p>
    You can choose the restaurant for this week's lunch. Yay!
    <a href="/lunches/#{@lunch.id}/restaurants"> Select a restaurant </a>
    <br>
  </p>

<p>Have a great day!</p>