<h1>Hi Team Lunch comes again!</h1>
  <p>
    Are you joining the team for the next lunch?
    <br>
  </p>
  <a href="/users/#{@user.id}/lunch_confirmation/1"> Yes I am going! </a>
  <br>
  <a href="/users/#{@user.id}/lunch_confirmation/0">Can't make it this time</a>

<p>Thanks for replying and have a great day!</p>